/****** TAGS CSS ******/

body {
  text-align: center;
  background-color: #2B2B2B;
  font-family: 'Rajdhani', sans-serif;
  color: white;
}

h1 {
  font-family: 'Permanent Marker', cursive;
  color: grey;
  margin: 0;
  padding-top: 200px;
}
h2 {
  font-family: 'Permanent Marker', cursive;
  color: grey;
  width: 100%;
  display: block;
}
h3 {
  font-family: 'Permanent Marker', cursive;
  color: grey;
  width: 100%;
  display: block;
}

hr {
  width: 10%;
  border-width: 20px;
  border-style: dotted none none;
  border-top-color: #393E46;
}

a {
  color: #FFC600;
}

a:hover {
  color: #FF5403;
}

ul {
  padding-left: 0;
  list-style: none;
}

/****** CLASSES CSS ******/

.subtitle {
  position: relative;
  top: -30px;
  color: darkgrey;
  font-size: 40px;
  font-family: 'Comforter', cursive;
}

.top-container {
  background-color: #2B2B2B;
  margin: 0;

}
.middle-container {
  background-color: #2B2B2B;
}

.bottom-container {
  background-color: #2B2B2B;
  width: 100%
}
.moon {
  position: fixed;
  left: 900px;
  top: 200px;
}

.mountain {
  width: 100%;
  position: relative;
  top: 500px;
}

.topicon {
  position: relative;
  top: 30px;
  width: 50px;
}
